#Everything in TargetPhotos
TargetPhotos/
#Zip files
*.zip
#ignore the venve folder
venv/
#ignore everything in the experimentation folder
experimentation/
#ignore everything in the pychache folder
__pycache__/